.container{
	width: 60%;
	margin: 0 auto;
}

span{
	color: red;
}

.form1{
	float: left;
}

.form2{
	float: right;
}

.main1{
	width: 380px;
	height: 400px;
	border: solid 1px #BBBABA;
	border-radius: 5px;
}

.main2{
	width: 380px;
	height: 510px;
	border: solid 1px #BBBABA;
	border-radius: 5px;
}

.dinhhinh{
	border: none;
	padding: 10px 30px;
}

.khong{
	padding: 10px 0px;
	border: solid 1px #BBBABA;
	border-radius: 5px;
	background: #E1DDDD;
}
